* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fcfcfc;
}

header {
    font-size: 10px;
    color: #4b4b4b;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-left: 20px;
}

.card {
    width: 300px;
    height: 125px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;;
    margin: 0 25px 25px 0;
}

.avatar {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-right: 20px;
}

.card h1 {
    font-size: 20px;
    color: #a8acaf;
}

h2, p {
    margin: auto auto 5px auto;
}

h2 {
    font-size: 15px;
    color: #414b52;
}

p {
    font-size: 12px;
    color: #a8acaf;
}

 /* Overlay and Modal */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 325px;
    height: 400px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal-content img {
    margin-right: 0;
    margin-bottom: 15px;
    height: 125px;
    width: 125px;
}

.modal-content p,
.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p:nth-of-type(2) {
    margin-bottom: 25px;
}

.modal-content p:nth-of-type(3) {
    margin-top: 25px;
}
