* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
    margin: 0 auto;
}

/* Header */

header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
      "website bell main-image name";
    grid-template-columns: 40% 10% 10% 1fr;
    background-color: #7477BF;
    color: white;
}

header h1 {
    font-size: 1.5em;
    grid-area: website;
    margin-left: 5px;
}

.bell {
  border-right: 1px solid #999999;
  grid-area: bell;
  padding: 8px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bell svg {
  width: 20px;
  fill: white;
  margin: auto 0 auto 10px;
}

.bell svg:hover {
  animation: pulse 1s ease-in-out;
}

@keyframes pulse {
  from {fill: white;}
  to {fill: #81C98F;}
}

.notifications {
  width: 5px;
  height: 5px;
  background-color: #81C98F;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}

header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  grid-area: main-image;
  padding: 10px 0 0 10px;
}

header h3 {
    font-size: 1em;
    grid-area: name;
    padding-top: 5px;
    margin: auto;
}

/* Navigation */

nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    background-color: #4D4C72;
    padding: 10px 50px 10px 50px;
}

nav svg {
    height: 40px;
    width: 40px;
    display: flex;
    fill: white;
}

/* Tab */

main {
    grid-area: main;
}

.tab {
    display: flex;
    grid-area: tab;
}

.headline {
    font-size: 20px;
    margin-left: 10px;
}
  
.tab h2 {
    background: white;
    margin-right: 15px;
    margin-top: 10px;
}
  
.background {
    background: #F7F7F7;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    flex-grow: 1;
    flex-basis: 80%;
}

/* Alert Box */

.alert {
  grid-area: alert;
}

.alert-banner { 
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    background-color: #7477BF;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.alert-text {
    padding-left: 20px;
}

.alert-banner-close {
    padding-right: 20px;
}

.alert-banner p {
  margin-left: 10px;
}

/* Traffic */

.traffic {
    margin: auto;
    border-bottom: 1px solid #999999;
    grid-area: traffic;
}

.traffic-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    padding-left: 0;
    margin: 0 30px 15px 20px;
}

.traffic-nav-link-active {
  background: #81C98F;
  color: white;
  border-radius: 52px;
  padding: 8px 10px 8px 10px;
}

.traffic h3 {
    font-size: 20px;
    padding-left: 10px;
}

.widget-container-full {
  width: 95%;
  margin: 0 auto 20px auto;
}

/* Daily Traffic */

.daily {
    margin: auto;
    border-bottom: 1px solid #999999;
    grid-area: daily;
}

.daily h3 {
    font-size: 20px;
    padding-left: 10px;
}

.daily-img {
    width: 100%;
}

/* Mobile Users */

.mobile {
    margin: auto;
    border-bottom: 1px solid #999999;
    grid-area: mobile;
}

.mobile h3 {
    font-size: 20px;
    padding-left: 10px;
}

.mobile-img {
    width: 100%;
}

.widget-container-half {
  width: 95%;
  margin: 0 auto 20px auto;
}

/* Socials */

.social-stats {
    margin: auto;
    border-bottom: 1px solid #999999;
    grid-area: socials;
}

.social-container {
    display: flex;
    background: #F7F7F7;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 10px auto ;
    height: 100px;
    width: 95%;
    text-align: left;
}

.social-stats h3 {
    font-size: 20px;
    padding-left: 10px;
}

.social-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    margin: auto 30px auto 15px;
    background-color: #7477BF;
    border-radius: 50px;
}   

.social-image svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.social-text {
    margin-top: 15px;
    margin-right: auto;
}

.social-text p:nth-child(1) {
    font-size: 20px;
    color: #7477BF;
    margin: auto;
}

.social-text p:nth-child(2) {
    font-size: 45px;
    color: #727272;
    margin: auto;
    text-align: left;
}

/* New Members and Recent Activity */
.members {
  grid-area: members;
}

.activity {
  grid-area: activity;
}

.members,
.activity {
    margin: auto;
    border-bottom: 1px solid #999999;
}

.members h3,
.activity h3 {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 0;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #999999;
    margin: 10px auto ;
    height: 150px;
    width: 95%;
    text-align: center;
}

.members-container img,
.activity-container img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.members-text a {
    color: #7477BF;
    text-decoration: none;
}

.members-text p:nth-child(1),
.activity-text  p:nth-child(1) {
    margin: 15px 0 0 0;
}

.members-text,
.activity-text  p:nth-child(2) {
    margin: 5px 0 0 0;
}

.members-container:nth-of-type(4),
.activity-container:nth-of-type(4) {
    border-bottom: none;
}

.date {
  margin: 5px;
}

.arrow {
    display: none;
}

/* Message */

.message {
    margin: auto;
    border-bottom: 1px solid #999999;
    grid-area: message;
}

.message h3 {
    font-size: 20px;
    padding-left: 10px;
}

.widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-container input,
.widget-container textarea {
    width: 97%;
    background: #F7F7F7;
    margin: 0 0 10px 0;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 20px;
}

.widget-container input {
    height: 50px;
}

.widget-container textarea{
    height: 150px;
}

.button-message {
    height: 50px;
    width: 97%;
    background-color: #7477BF;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
}
/* Settings */

.settings {
    margin: auto;
    border-bottom: 1px solid #999999;
    grid-area: settings;
}

.settings h3 {
    font-size: 20px;
    padding-left: 10px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.toggles {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label.switch-light.switch-ios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

span {
  width: 100px;
}

strong {
  font-size: 18px;
  flex-basis: 250px;
}

#timezone {
    height: 50px;
    width: 100%;
    background: #F7F7F7;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.settings-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#save,
#cancel {
    font-size: 15px;
    border-radius: 5px;
    height: 50px;
    width: 50%;
}

#save {
    background-color: #7477BF;
    color: white;
    margin-right: 5px;
    border: none;
}

#cancel {
    background: #797979;
    color: white;
    margin-left: 5px;
    border: none;
}

/* Media Queries */

@media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 68px 1fr;
      grid-template-areas:
        "header header"
        "navigation main";  
    }

    main {
      display: grid;
      width: 100%;
      grid-template-areas:
        "tab tab"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "socials socials"
        "members members"
        "activity activity"
        "message message"
        "settings settings";  
    }

    header {
      width: 100%;
      grid-template-columns: 70% 5% 8% 1fr;
    }

    .bell {
      /* padding: 20px 0 0 10px; */
    }

    header h1 {
      margin-right: 350px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0 10px 0 10px;
    }

    nav svg {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .traffic,
    .daily,
    .mobile {
      width: 100%;
    }

    .daily {
      border-right: 1px solid #999999;

    }

    .traffic-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0 10px 0;
    }

    .traffic h3{
      margin: 0 0 0 0;
    }

    .traffic-nav {
      margin: 0 15px 0 0; 
    }

    .traffic-nav-link {
      padding-left: 20px;
    }

    .daily {
      padding-bottom: 1px;

    }

    .social-stats {
      width: 100%;
    }

    .social-widgets {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }

    .social-container {
      width: 33%;
      margin: 0px 5px 10px 5px;
    }

    .social-image {
      margin: auto 15px auto 15px;
      border-radius: 50px;
    }

    .social-text p:nth-child(2) {
      font-size: 40px; 
    }

    .members,
    .activity {
      width: 100%;
    }
    
    .members-container {
      display: grid;
      grid-template-areas: 
        "profile text date";
      grid-template-columns: 70px 1fr 1fr;
      height: 100px;
    }

    .profile-image {
      grid-area: profile;
    }

    .members-text {
      grid-area: text;
      text-align: left;
    }

    .members-text p:nth-child(1),
    .activity-text  p:nth-child(1){
      margin: auto;
    }

    .date {
      grid-area: date;
      text-align: right;
    }

    .activity-container {
      display: grid;
      grid-template-areas: 
        "profile text arrow";
      grid-template-columns: 70px 1fr 10px;
      height: 100px;
    }

    .activity-text {
      grid-area: text;
      text-align: left;
    }

    .arrow {
      grid-area: arrow;
      display: contents;
      text-align: right;
    }

    .activity-text  p:nth-child(2) {
      margin-top: 0;
    }

    .message {
      width: 100%;
    }

    .settings {
      width: 100%;
    }

    label.switch-light.switch-ios {
      justify-content: flex-start;
    } 
}

@media (min-width: 1024px) {
  main {
    grid-template-areas:
      "tab tab"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "socials socials"
      "members activity"
      "message settings";  
  }

  header {
    grid-template-columns: 75% 5% 5% 1fr;
  }

  .bell {
    /* padding: 20px 0 0 10px; */
  }

  .daily {
    padding-bottom: 4px;

  }

  .members {
    border-right: 1px solid #999999;
  }

  .settings {
    height: 100%;
  }

  .message {
    border-right: 1px solid #999999;
  }

  .widget-container textarea{
    height: 125px;
  }

  label.switch-light.switch-ios {
    margin-bottom: 25px;
  }

  #timezone {
    margin-top: 22px;
}

.settings-button {
    margin-bottom: 10px;
}

}

/* @charset "UTF-8"; */
/*
* CSS TOGGLE SWITCH
*
* IonuÈ› Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* supported values are px, rem-calc, em-calc
 */
/* imports
 */
/* Functions
 */
/* Shared
 */
/* Hide by default
 */
.switch-toggle a,
.switch-light span span {
  display: none; }

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {
  /* Checkbox
 */
  .switch-light {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */ }
    .switch-light::after {
      clear: both;
      content: '';
      display: table; }
    .switch-light *,
    .switch-light *:before,
    .switch-light *:after {
      box-sizing: border-box; }
    .switch-light a {
      display: block;
      transition: all 0.2s ease-out; }
    .switch-light label,
    .switch-light > span {
      /* breathing room for bootstrap/foundation classes.
     */
      line-height: 2em; }
    .switch-light input:focus ~ span a,
    .switch-light input:focus + label {
      outline-width: 2px;
      outline-style: solid;
      outline-color: Highlight;
      /* Chrome/Opera gets its native focus styles.
     */ } }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) {
      .switch-light input:focus ~ span a,
      .switch-light input:focus + label {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto; } }

@media only screen {
  /* don't hide the input from screen-readers and keyboard access
 */
  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 3; }
  .switch-light input:checked ~ span a {
    right: 0%; }
  /* inherit from label
 */
  .switch-light strong {
    font-weight: inherit; }
  .switch-light > span {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 2em;
    /* overwrite 3rd party classes padding
   * eg. bootstrap .alert
   */
    padding: 0;
    text-align: left; }
  .switch-light span span {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    user-select: none; }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0; }
  /* bootstrap 4 tweaks
*/
  .switch-light.row {
    display: flex; }
  .switch-light .alert-light {
    color: #333; }
  /* Radio Switch
 */
  .switch-toggle {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */
    /* For callout panels in foundation
  */
    padding: 0 !important;
    /* 2 items
   */
    /* 3 items
   */
    /* 4 items
   */
    /* 5 items
   */
    /* 6 items
   */ }
    .switch-toggle::after {
      clear: both;
      content: '';
      display: table; }
    .switch-toggle *,
    .switch-toggle *:before,
    .switch-toggle *:after {
      box-sizing: border-box; }
    .switch-toggle a {
      display: block;
      transition: all 0.2s ease-out; }
    .switch-toggle label,
    .switch-toggle > span {
      /* breathing room for bootstrap/foundation classes.
     */
      line-height: 2em; }
    .switch-toggle input:focus ~ span a,
    .switch-toggle input:focus + label {
      outline-width: 2px;
      outline-style: solid;
      outline-color: Highlight;
      /* Chrome/Opera gets its native focus styles.
     */ } }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) {
      .switch-toggle input:focus ~ span a,
      .switch-toggle input:focus + label {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto; } }

@media only screen {
    .switch-toggle input {
      position: absolute;
      left: 0;
      opacity: 0; }
    .switch-toggle input + label {
      position: relative;
      z-index: 2;
      display: block;
      float: left;
      padding: 0 0.5em;
      margin: 0;
      text-align: center; }
    .switch-toggle a {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 1;
      width: 10px;
      height: 100%; }
    .switch-toggle label:nth-child(2):nth-last-child(4),
    .switch-toggle label:nth-child(2):nth-last-child(4) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
      width: 50%; }
    .switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
      left: 50%; }
    .switch-toggle label:nth-child(2):nth-last-child(6),
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
      width: 33.33%; }
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
      left: 33.33%; }
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
      left: 66.66%; }
    .switch-toggle label:nth-child(2):nth-last-child(8),
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
      width: 25%; }
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
      left: 25%; }
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
      left: 50%; }
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
      left: 75%; }
    .switch-toggle label:nth-child(2):nth-last-child(10),
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
      width: 20%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
      left: 20%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
      left: 40%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
      left: 60%; }
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
      left: 80%; }
    .switch-toggle label:nth-child(2):nth-last-child(12),
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
      width: 16.6%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
      left: 16.6%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
      left: 33.2%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
      left: 49.8%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
      left: 66.4%; }
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
      left: 83%; }


.switch-ios.switch-light span span {
  color: #848484; }
.switch-ios.switch-light a {
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 100%;
  border: 0.25em solid #D8D9DB;
  transition: all .2s ease-out; }
.switch-ios.switch-light > span {
  display: block;
  /* width: 100%; */
  height: 2em;
  background-color: #D8D9DB;
  border-radius: 1.75em;
  transition: all .4s ease-out; }
.switch-ios.switch-light > span span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  line-height: 1.875em;
  vertical-align: middle;
  transition: all .2s ease-out; }
  .switch-ios.switch-light > span span:first-of-type {
    opacity: 1;
    padding-left: 1.875em; }
  .switch-ios.switch-light > span span:last-of-type {
    padding-right: 1.875em; }
.switch-ios.switch-light input:checked ~ span a {
  left: 100%;
  border-color: #848484;
  margin-left: -2em; }
.switch-ios.switch-light input:checked ~ span {
  border-color: #848484;
  box-shadow: inset 0 0 0 30px #7477BF; }
.switch-ios.switch-light input:checked ~ span span:first-of-type {
  opacity: 0; }
.switch-ios.switch-light input:checked ~ span span:last-of-type {
  opacity: 1;
  color: #fff; }
.switch-ios.switch-toggle {
  background-color: #D8D9DB;
  border-radius: 30px;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0; }
  .switch-ios.switch-toggle a {
    background-color: #7477BF;
    border: 0.125em solid #848484;
    border-radius: 1.75em;
    transition: all 0.12s ease-out; }
  .switch-ios.switch-toggle label {
    height: 2.4em;
    color: #888b92;
    line-height: 2.4em;
    vertical-align: middle; }
.switch-ios input:checked + label {
  color: #3e4043; }}